

config:
  clusterName: my-kubegenesis-cluster
  cloudProvider: aws # ou 'local'
  region: us-east-1 # Apenas para AWS
  kubernetesVersion: 1.28.0
  sshKeyPath: ~/.ssh/id_rsa # Caminho para a chave SSH privada

nodes:
  masters:
    count: 1
    instanceType: t3.medium # Para AWS
    ami: ami-0abcdef1234567890 # AMI ID para a região e tipo de SO
  workers:
    count: 2
    instanceType: t3.medium # Para AWS
    ami: ami-0abcdef1234567890 # AMI ID para a região e tipo de SO
  gpuWorkers:
    count: 0
    instanceType: p3.2xlarge # Para AWS, se gpuWorkers.count > 0
    ami: ami-0abcdef1234567890 # AMI ID para a região e tipo de SO

addons:
  calico:
    enabled: true
    version: 3.26.1
  argocd:
    enabled: false
    version: 5.36.1 # Versão do chart Helm
  prometheus:
    enabled: false
    version: 25.2.0 # Versão do chart Helm kube-prometheus-stack
  nvidiaGpuSupport:
    enabled: false


